* {
margin: 0;
}

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.header {    
    background: black;  
    
}

.header_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 74px;
    padding-bottom: 76px;
    background: #030303;
    max-width: 1920px;
}

.head_logo {
    display: flex;
    align-items: center;
    margin: 0;
}

.head_logo_text {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 21px;
}

.head_navigation {
    margin: 0;
}

.header_link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-left: 76px;
    text-decoration: none;
}

.welcome {
    background: #000;
    margin: auto;
}

.welcome_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.welcome_img {
    margin: 0;
    height: 750px;
}

.positioned {
    max-width: 598px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 240px;
    bottom: 114px;
    margin: 0;
}

/* .welcome_img {
    background: url(./assets/img/background.jpg);
} */

.welcome_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 26px;
}

.welcome_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    margin-bottom: 76px;
}

.welcome_button {
    max-width: 360px;
    height: 75px;
    background: #710707;
    border-radius: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome_button_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.virtual_tour {
    max-width: 1920px;
    align-items: center;
    margin: auto;
    padding-left: 240px;
    padding-right: 240px;
}

.virtual_tour_head {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.tour_head_rectangle {
    padding-top: 25px;
    margin-bottom: 75px;
    border-bottom: 3px solid #710707;
}

.upper_content_block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
}

.lower_content_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}

.virtual_place {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.virtual_tour_pic {
    color: #710707;

}

.virtual_tour_text_upper {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    margin: 0;
}

.content_rectangle {
    max-width: 300px;
    padding-top: 9px;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #710707;
}

.virtual_tour_text_lower {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: left;
    margin: 0;
}

.picture_explore {
    display: flex;
    justify-content: center;
    background-color: #030303;
    padding-left: 240px;
    padding-right: 240px;
    margin-bottom: 90px;
}

.pic-exp_text_container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 60px;
}

.pic-exp_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 75px;
    margin-bottom: 25px;
    text-align: left;
}

.pic-exp_rectangle {
    max-width: 660px;
    border-bottom: 3px solid #710707;
    margin: 0;
    margin-bottom: 75px;
}

.pic-exp_text {
    max-width: 660px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    margin-bottom: 25px;
}

.pic-exp_pic {
    min-width: 720px;
    min-height: 700px;
    margin-top: 90px;
    margin-bottom: 75px;
}

.video_journey {
    max-width: 1920px;
    padding-left: 240px;
    padding-right: 240px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.vidjor_frame {
    max-width: 1440px;
    height: 714px;
    margin-bottom: 40px;
    background-color: black;
}

.vidjor_text_container {
    display: flex;
    justify-content: space-between;
}

.vidjor_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #9D8665;
    max-width: 605px;
    margin: 0;
}

.vidjor_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
    max-width: 720px;
    margin: 0;
}

.buy_tickets {
    background-color: #030303;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 75px;
}

.buytic_title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1920px;
}

.buytic_text {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 25px;
}

.buytic_rectangle {
    max-width: 1440px;
    border-bottom: 3px solid #710707;
    margin: 0;
    margin-bottom: 75px;
}

.buytic_container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
}

.buytic_picture {
    height: 550px;
    margin: 0;
    margin-right: 60px;
}

.buytic_content {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.ticket_type {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    margin-right: 215px;
}

.radio_button_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 49px;
}

.ticket_type_title {
    margin-bottom: 50px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 17px;
    height: 17px;
  
    border: 2px solid #FFFFFF;
    transition: 0.1s all linear;
    outline: none;
    margin-right: 23px;
}

input:checked {
    padding: 3px;
    background-color: #FFFFFF;
    background-clip: content-box;
  }

.amount_container {
    max-width: 175px;
    display: flex;
    flex-direction: column;
}

.amount {
    display: flex;
    flex-direction: column;
    margin-right: 0;
}

.frame_basic {
    margin: 0;
}

.frame_senior {
    margin: 0;
}

.amount_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: right;
    margin: 0;
    margin-bottom: 11px;
}

.frame_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 14px;
}

.frame_input {
    max-width: 150px;
    height: 50px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0;
    margin-bottom: 35px;
}

.input_minus {
    margin: 0;
}

.input_number {
    margin: 0;
}

.input_plus {
    margin: 0;
}

.amount_total {
    display: flex;
    justify-content:flex-start;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #FFFFFF;
    padding-top: 15px;
    margin: 0;
    margin-bottom: 50px;
}

.buy_button {
    width: 175px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #000000;
    margin: 0;
}

.contacts {
    padding-right: 240px;
    padding-left: 240px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0 auto;
    max-width: 1920px;
}

.contacts_title {
    display: flex;
    flex-direction: column;
}

.contacts_text {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin: 0;
    margin-bottom: 25px;
}

.contacts_rectangle {
    max-width: 1440px;
    border-bottom: 3px solid #710707;
    margin: 0;
    margin-bottom: 75px;
}

.contacts_container {
    display: flex;
    justify-content: space-between;
    margin: 0; 
}

.contacts_content {
    margin: 0;
}

.contacts_content_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding-top: 10px;
    margin: 0;
    margin-bottom: 36px;
}

.contacts_content_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 20px;

}

.map {
    width: 960px;
    height: 620px;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.footer {   
    background-color: #030303;
    margin: 0;
}

.footer_content {
    display: flex;
    justify-content: start;
    max-width: 1920px;
    padding-top: 75px;
    padding-bottom: 50px;
    padding-left: 240px;
    padding-right: 240px;
    margin: 0 auto;
}

.nav_n_soc_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.footer_logo {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    max-width: 195px;
    height: 50px;
    padding-right: 145px;
    margin: 0;
}

.footer_logo_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 26px;
}

.footer_nav_container {
    display: flex;
    justify-content: space-between;
    width: 363px;
    padding-top: 12px;
    margin: 0;
}

.footer_nav_block {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer_nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    margin-bottom: 25px;
}

.footer_social {
    max-width: 340px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 162px;
    margin: 0;
}

.social_pic {
    padding-left: 25px;
}

.footer_midline {
    max-width: 1920px;
    border-bottom: 3px solid #666666;;
    /* transform: rotate(-90deg); */
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer_devinfo {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-left: 240px;
    padding-right: 240px;

    padding-bottom: 50px;
    margin: 0 auto;
}

.footer_year {
    margin: 0;
}

.footer_school {
    margin: 0;
}

.footer_author {
    margin: 0;
}